{% extends './atlantisseg/layout.html' %}
{% block title %} Registros {% endblock %}
{% block body %}

    <div class="container" method="get">
        <div class="card border-primary mb-3">
            <div class="card-header">
                Información usuarios SEGURIDAD ATLANTIS LTDA
            </div>
            <div class="card-body">
                <div class="table-responsive"> 
                    <table id="table_id" class="display table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Nombres y Apellidos</th>
                                <th>Tipo de examen</th>
                                <th>Celular</th>
                                <th>Estado</th>
                                <th>Accion</th>
        
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in val%}
                                <tr>
                                    <td>{{item[3]}} ({{item[4]}})</td>
                                    <td>{{item[5]}} {{item[6]}}</td>
                                    <td>{{item[7]}}</td>
                                    <td>{{item[11]}}</td>
                                    <td>{{item[18]}}</td>
                                    <td >
                                        <form class= "col-md-12" action="/seguridad-atlantis-ltda8368/list/{{item[0]}}">
                                            <button type="submit" class="btn btn-warning">Ver mas</button>
                                        </form>
                                </tr>
                            {%endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}