nav {
    background: #1E73BE;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
}

nav li {
    display: inline;
    margin: 0 0 0 5rem;
    font-weight: bold;
}

.imglogo {
    position: relative;
    width: 130px;
    margin-left: 80px;
}

nav a {
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0;


}

.imgnav {
    position: absolute;
    left: -38px;
    height: 3em;
    width: 3em;

}

/* Estilos para pantallas pequeñas (por ejemplo, ancho máximo de 768px) */
@media (max-width: 768px) {
    nav .toggle-btn {
      display: block; /* Mostrar el botón toggle en pantallas pequeñas */
    }
  
    nav .menu {
      flex-direction: column;
      position: absolute;
      top: 6rem;
      left: 0;
      width: 100%;
      background-color: #1E73BE;
      display: none; /* Ocultar el menú desplegable en pantallas pequeñas */
      
      /* Ajustar el z-index para asegurar que el menú esté por encima de otros elementos */
      z-index: 1000;
    }
  
    /* ... Estilos adicionales para el menú desplegable ... */
  
    /* Agregamos la clase 'show' para mostrar el menú desplegable cuando está activo */
    nav .menu.show {
      display: flex;
    }
  }
  