nav {
    background: #1E73BE;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
}

nav li {
    display: inline;
    margin: 0 0 0 5rem;
    font-weight: bold;
}

.imglogo {
    position: relative;
    width: 130px;
    margin-left: 80px;
}

nav a {
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0;


}

.imgnav {
    position: absolute;
    left: -38px;
    height: 3em;
    width: 3em;

}

/* Estilos para pantallas pequeñas (por ejemplo, ancho máximo de 768px) */
@media (max-width: 991px) {
  nav .toggle-btn {
      display: block; /* Mostrar el botón toggle en pantallas pequeñas */
  }

  nav .navbar-collapse {
      /* Asegurarse de que el menú colapsado tenga un fondo y un z-index */
      background-color: #1E73BE;
      z-index: 1000;
      position: absolute; /* Agregar position: absolute */
      top: 6rem; /* Ajustar la posición superior para evitar superposiciones */
      left: 0;
      width: 100%;
      display: none; /* Ocultar el menú desplegable por defecto */
  }

  /* Agregar la clase 'show' para mostrar el menú desplegable cuando está activo */
  nav .navbar-collapse.show {
      display: block; /* Cambiar a display:block para mostrar el menú */
  }

  /* ... Otros estilos para el menú desplegable ... */
}

@media (max-width: 891px) {
    /* ... Estilos existentes ... */

    /* Ocultar el título h3 en pantallas pequeñas */
    nav h3 {
        display: none;
    }

    nav h1 {
        display: none;
    }
    
    /* Ajustar los márgenes para la alineación del botón de toggle */
    nav .navbar-toggler {
        margin-left: 5px;
    }
}
