{% extends './extra/layout.html' %}
{% block title %} Editar {% endblock %}
{% block body %}

<form method="post" action="{{ url_for('extra_editl', id=val[0][0]) }}" class="g-3 row" onsubmit="return validateForm();">
    {% for item in val%}

    <!--#persona quien registra-->
    <div class="col-md-4">
        <label for="Persona_quien_registra" class="form-label">Persona quien registra</label>
        <input type="text" class="form-control" name="Persona_quien_registra" id="Persona_quien_registra" value="{{item[2]}}" required>
        <div class="invalid-feedback">
            Porfavor indique la perosna quien registra
        </div>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>

    <!--tipo de documento-->
    <div class="col-md-4">
    <label for="tipo_documento" class="form-label">Tipo de documento</label>
<select class="form-select" name="tipo_documento" id="tipo_documento" value="{{item[3]}}" required>
        <option value="">Seleccione su tipo de documento</option>
        <option value="Cedula de ciudadania" {% if item[3] == 'Cedula de ciudadania' %} selected {% endif %}>Cedula de ciudadania</option>
        <option value="Pasaporte" {% if item[3] == 'Pasaporte' %} selected {% endif %}>Pasaporte</option>
        <option value="Cedula de extranjeria" {% if item[3] == 'Cedula de extranjeria' %} selected {% endif %}>Cédula de extranjeria</option>
    </select>
    <div class="invalid-feedback">
        Por favor seleccione el tipo de documento.
    </div>
    <div class="valid-feedback">
        ¡Correcto!
    </div>
    </div>

        <!--#Numero de documento-->
        <div class="col-md-4">
            <label for="numero_documento" class="form-label">Numero de documento</label>
            <input type="text" class="form-control" name="numero_documento" id="numero_documento" value="{{item[4]}}" required>
            <div class="invalid-feedback">
                Porfavor indique el # de documento
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>

        <!--Nombres-->
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombres</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{item[5]}}" required>
            <div class="invalid-feedback">
                Porfavor indique su nombre completo
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>

        <!--Apellidos-->
        <div class="col-md-4">
            <label for="Apellido" class="form-label">Apellidos</label>
            <input type="text" class="form-control" name="Apellido" value="{{item[6]}}" id="Apellidos" required>
            <div class="invalid-feedback">
                Porfavor indique sus apellidos completos
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>


    <!--cargo-->
    <div class="col-md-4">
        <label for="Cargo" class="form-label">Cargo</label>
        <input type="text" class="form-control" name="Cargo" id="Cargo" value="{{item[8]}}" required>
        <div class="invalid-feedback">
            Porfavor indique el cargo
        </div>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>

    <!-- seccion direccion, correo, celular -->
    <section class="row pt-3">
        <!--Direccion-->
        <div class="col-md-4">
            <label for="direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="direccion" value="{{item[9]}}">
            <div class="invalid-feedback">
                Porfavor indique su direccion
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>

        <!--Correo-->
        <div class="col-md-4">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" name="correo" id="correo" value="{{item[10]}}" placeholder="Correo">
            <div class="invalid-feedback">
                Porfavor indique su Correo
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>

        <!--#Numero celular-->
        <div class="col-md-4">
            <label for="celular" class="form-label">Numero de Celular</label>
            <input type="tel" class="form-control" name="celular" id="celular" value="{{item[11]}}" placeholder="Numero de Celular" required>
            <div class="invalid-feedback">
                Porfavor indique su Correo
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>
    </section>

    <!-- seccion telefono fijo, genero, rh -->
    <section class="row pt-3">

        <!--# Numero telefono-->
        <div class="col-md-4">
            <label for="telefono" class="form-label">Numero de Telefono Fijo</label>
            <input type="tel" class="form-control" name="telefono" id="telefono" value="{{item[12]}}" placeholder="Numero de telefono fijo">
        </div>

        <!--genero-->
        <div class="col-md-4">
        <label for="genero" class="form-label">Genero</label>
        <select class="form-select" name="Genero" value="{{item[13]}}" id="Genero" required>
            <option value="">Seleccione su genero</option>
            <option value="Masculino" {% if item[13] == 'Masculino' %} selected {% endif %}>Masculino</option>
            <option value="Femenino" {% if item[13] == 'Femenino' %} selected {% endif %}>Femenino</option>
            <option value="Indefinido" {% if item[13] == 'Indefinido' %} selected {% endif %}>Indefinido</option>

        </select>
        <div class="invalid-feedback">
            Por favor seleccione el tipo de examen.
        </div>
        <div class="valid-feedback">
            ¡Correcto!
        </div>
    </div>

        <!--# RH-->
        <div class="col-md-4">
            <label for="RH" class="form-label">RH</label>
        <select class="form-select" name="RH" id="RH" value="{{item[14]}}" placeholder="Tipo de Sangre A+,B-...">
            <option value="">Seleccion su tipo de sangre</option>
            <option value="O+"  {% if item[14] == 'O+' %} selected {% endif %}>O+</option>
            <option value="O-"  {% if item[14] == 'O-' %} selected {% endif %}>O-</option>
            <option value="A+"  {% if item[14] == 'A+' %} selected {% endif %}>A+</option>
            <option value="A-"  {% if item[14] == 'A-' %} selected {% endif %}>A-</option>
            <option value="B+"  {% if item[14] == 'B+' %} selected {% endif %}>B+</option>
            <option value="B-"  {% if item[14] == 'B-' %} selected {% endif %}>B-</option>
            <option value="AB+" {% if item[14] == 'AB+' %} selected {% endif %}>AB+</option>
            <option value="AB-" {% if item[14] == 'AB-' %} selected {% endif %}>AB-</option>
        </select>
            <div class="invalid-feedback">
                Porfavor indique su RH
            </div>
            <div class="valid-feedback">
                Correcto!
            </div>
        </div>

</section>

    <section class="row pt-3">

    <!--#Fecha de nacimiento-->
    <div class="col-md-4">
        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" value="{{item[15]}}" placeholder="Fecha de Nacimineto">
        <div class="invalid-feedback">
            Porfavor indique su Fecha de Nacimiento
        </div>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>

    <!--#Pais de nacimiento-->
    <div class="col-md-4">
        <label for="pais_nacimiento" class="form-label">Pais de Nacimiento</label>
        <input type="text" class="form-control" name="pais_nacimiento" id="pais_nacimiento" value="{{item[16]}}" placeholder="Pais de Nacimiento">
        <div class="invalid-feedback">
            Porfavor indique su Pais de Nacimiento
        </div>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>

    <!--#Ciudad de nacimiento-->
    <div class="col-md-4">
        <label for="ciudad_nacimiento" class="form-label">Ciudad de Nacimiento</label>
        <input type="text" class="form-control" name="ciudad_nacimiento" id="ciudad_nacimiento" value="{{item[17]}}" placeholder="Ciudad de Nacimiento">
        <div class="invalid-feedback">
            Porfavor indique su Pais de Nacimiento
        </div>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>
</section>


    <section class="row justify-content-center allign-items-center pt-5">
                <!--tipo de examen-->
                <div class="col-md-4">
                    <label class="form-label">Tipo de examen</label>
                    <div>
                        <div class="form-check" >
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Psicofisico" value="Psicofisico" {% if 'Psicofisico' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Psicofisico">Psicofisico</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Psicomotriz" value="Psicomotriz" {% if 'Psicomotriz' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Psicomotriz">Psicomotriz</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Psicosensometrico" value="Psicosensometrico" {% if 'Psicosensometrico' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Psicosensometrico">Psicosensometrico</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Ocupacional_ingreso" value="Ocupacional ingreso" {% if 'Ocupacional ingreso' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Ocupacional_ingreso">Ocupacional ingreso</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Ocupacional_retiro" value="Ocupacional retiro" {% if 'Ocupacional retiro' in item[7].split(',') %} checked {% endif %} >
                            <label class="form-check-label" for="Ocupacional_retiro">Ocupacional retiro</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Ocupacional_periodico" value="Ocupacional periodico" {% if 'Ocupacional periodico' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Ocupacional_periodico">Ocupacional periodico</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Ocupacional_postincapacidad" value="Ocupacional post-incapacidad" {% if 'Ocupacional post-incapacidad' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Ocupacional_postincapacidad">Ocupacional post-incapacidad</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Ocupacional_altura" value="Ocupacional altura" {% if 'Ocupacional altura' in item[7].split(',') %} checked {% endif %}>
                            <label class="form-check-label" for="Ocupacional_altura">Ocupacional altura</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Tipo_examen[]" id="Laboratorios" value="Laboratorios" {% if 'Laboratorios' in item[7].split(',') %} checked {% endif %} >
                            <label class="form-check-label" for="Laboratorios">Laboratorios</label>
                        </div>

                    </div>
                    <div id="examError" class="invalid-feedback" style="display: none;">
                        Debe seleccionar al menos un tipo de examen.
                    </div>
                </div>

                <div class="row justify-content-center allign-items-center">
                    <div class="col-md-3 mt-3">
                        <div class="row justify-content-center allign-items-center pt-3">
                            <button class="col-md-5 btn btn-warning my-3" type="submit"> Modificar</button>
                            
                        </div>

                    </div>
                </div>

    </section>
</form>
            <div class="row justify-content-center allign-items-center"></div>
<form class= "row justify-content-start allign-items-center " action="{{url_for('extra_listar_id', id=(item[0][0]))}}">
                    <button type="submit" class="btn btn-primary col-2">volver</button>
                </form>
            </div>
    {% endfor %}

<script>
    function validateForm() {
        var form = document.forms[0];
        // Lista de IDs de campos obligatorios
        var requiredFields = ['nombre', 'Apellido', 'Cargo', 'Persona_quien_registra', 'tipo_documento', 'numero_documento'];
        var selectedExams = document.querySelectorAll('input[name="Tipo_examen[]"]:checked');

        // Verificar campos obligatorios
        for (var i = 0; i < requiredFields.length; i++) {
            var field = form[requiredFields[i]];
            if (!field.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
                return false;
            }
        }

        // Verificar que al menos un tipo de examen esté seleccionado
        if (selectedExams.length === 0) {
            document.getElementById('examError').style.display = 'block';
            event.preventDefault();
            event.stopPropagation();
            form.classList.add('was-validated');
            return false;
        }

        form.classList.add('was-validated');
        return true;
    }
</script>

{% endblock %}
